{
    "applications": [{
        "slack": {
            "app_id": 25,
            "notification_details": {
                "description1": {
                    "sound": "/System/Library/Sounds/Blow.aiff",
                    "look_for": [
                        "Duke Nukem",
                        "Person Name"
                    ]
                },
                "description2": {
                    "sound": "/System/Library/Sounds/Hero.aiff",
                    "look_for": [
                        "Person Name1",
                        "Person Name2"
                    ]
                },
                "description3": {
                    "sound": "/System/Library/Sounds/Ping.aiff",
                    "look_for": [
                        "Person Name1",
                        "Person Name2"
                    ]
                }
            }
        }
    }]
}